<script setup lang="ts">
import { usehomeStore } from '@/stores/homeStore';

const homeStore = usehomeStore()
</script>
<template>
    <div><h1>This is NumberButton in home3</h1></div>
    <div>
        <button @click="homeStore.doinc()">{{ homeStore.num }}</button>
    </div>
</template>