<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';

const addressBookStore = useAddressBookStore();
</script>
<template>
    <div>
        <div v-if="addressBookStore.isAddnew">
      <div>
        <label for="name">name: </label>
        <input type="text" id="name" v-model="addressBookStore.address.name" />
      </div>
      <div>
        <label for="gender">gender: </label>
        <select id="gender" v-model="addressBookStore.address.gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div>
        <label for="tel">Tel: </label>
        <input type="text" id="tel" v-model="addressBookStore.address.tel" />
      </div>
      <div>
        <button @click="addressBookStore.cancel()">Cancel</button>
        <button @click="addressBookStore.save()">Save</button>
      </div>

    </div>
    </div>
</template>
<style scoped>
input,
select,
label,
button {
  font-family: 'kanit';
  font-size: 20pt;
  margin: 5px;
}
</style>