<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';
import { ref, nextTick } from 'vue';

const messages = ref<string[]>([]);
const answers = ['คิดถึงอ้วน','เค้าไถต้อกๆอยู่'];
const messageList = ref<typeof MessageList | null>(null);

function send(message: string){
  messages.value.push(message);
  answerWithCom();
  messageList.value?.updateUI();
}

function answerWithCom(){
  const ranAns =  Math.floor(Math.random()*10000)%answers.length
  const answer = answers[ranAns];
  messages.value.push(answer);
  nextTick(() => {
    messageList.value?.updateUI();
  })
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages="messages"/>
    <MessageBox @send="send"/>
  </div>
</template>
<style scoped>

</style>
