<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import { provide, ref, type Ref } from 'vue';
import DummyComponent from '@/components/DummyComponent.vue';
const num1 = ref(0);
provide('num1',num1);
provide('num1Click', num1Click)
function num1Click(num: number){
  num1.value++;
}
</script>

<template>
  <div style="text-align: center">
    <img src="../assets/me.png" style="border-radius: 50%; width: 300px" alt="" />
    <h3>สวัสดี ผม ธนภัทร</h3>
    {{ num1 }}
    <DummyComponent/>

  </div>
</template>
