<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import { ref } from 'vue';

const num1 = ref(0);
function num1Click(num: number){
  console.log("Num1 click: "+num)
  num1.value = num;
}
</script>

<template>
  <div style="text-align: center">
    <img src="../assets/me.png" style="border-radius: 50%; width: 300px" alt="" />
    <h3>สวัสดี ผม ธนภัทร</h3>
    {{ num1 }}<NumberButton :num="1" @numClick="num1Click" />
    <NumberButton :num="2"/>
    <NumberButton :num="3" :inc="5" />
  </div>
</template>
